/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Young+Serif&display=swap');

:root {
}

* {
  font-family: theme('fontFamily.rubik');
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  @apply bg-no-repeat bg-light-grey dark:bg-dark-navy bg-mobile-light dark:bg-mobile-dark md:bg-tablet-light md:dark:bg-tablet-dark lg:bg-desktop-light  lg:dark:bg-desktop-dark lg:bg-cover;
}
